{% extends 'base.html' %}

{% block content %}
    <script>
        // own transaction implementation
        let tx = {}
        let signedTxs = {};
        async function create_the_damn_transaction() {
            //params = algodClient.suggestedParams();
            let params = await algodClient.getTransactionParams().do();
            params.fee = 1000;
            params.flat_fee = true;
            const to = document.getElementById('to').value;
            const enc = new TextEncoder();
            let note = enc.encode(document.getElementById('note').value);
            console.log(+document.getElementById('amount').value)
            console.log(typeof(+document.getElementById('amount').value))
            let amount = BigInt(+document.getElementById('amount').value);
            let from = document.getElementById('from').value;
            let txn = algosdk.makePaymentTxnWithSuggestedParams(from, to, amount, undefined, note, params);
            console.log('transaction created')
            
            // Use the AlgoSigner encoding library to make the transactions base64
            let txn_b64 = AlgoSigner.encoding.msgpackToBase64(txn.toByte());
            await AlgoSigner.signTxn([{txn: txn_b64}])
            .then((d) => {
                signedTxs = d;
            })
            .catch((e) => {
                console.error(e);
            });
            console.log('transaction signed')
            
            // send transaction
            await AlgoSigner.send({
                ledger: 'TestNet',
                tx: signedTxs[0].blob
            })
            .then((d) => {
                tx = d;
            })
            .catch((e) => {
                console.error(e);
            });
            console.log('transaction sent')


            // Wait for confirmation
            let confirmedTxn = await waitForConfirmation(algodClient, tx, 10);
            //Get the completed Transaction
            console.log("Transaction " + txId + " confirmed in round " + confirmedTxn["confirmed-round"]);
            let mytxinfo = JSON.stringify(confirmedTxn.txn.txn, undefined, 2);
            console.log("Transaction information: %o", mytxinfo);
            var string = new TextDecoder().decode(confirmedTxn.txn.txn.note);
            console.log("Note field: ", string);


            // Wait for confirmation
            //let pendingCodeElem = document.getElementById('status');
      
            //await algodClient.pendingTransactionInformation(tx.txId).do()
            //.then((d) => {
                //pendingCodeElem.innerHTML = JSON.stringify(d, toJsonReplace, 2);
            //})
            //.catch((e) => {
              //  console.error(e);
                //pendingCodeElem.innerHTML = JSON.stringify(e, null, 2);
            //})
            //.finally(() => {
                //hljs.highlightBlock(pendingCodeElem);
           // });
        }

        function create_nft () {
            alert ('nft created')
        }
    </script>

    <br>
    <h1>{% block title %} Create your NFT certificates on the algorand blockchain network {% endblock %}</h1>
    <br>

    <div id="network-selection-form" class="p-3 mb-2 bg-secondary text-dark rounded">
        <div class="mb-3 container">
                <div class="row">
                 <label for="network">Choose network</label>
                 <div class="col-md">
                         <select class="form-select form-select-sm bg-secondary" aria-label=".form-select-sm example" name="network" id="network">
                         <option value="local">Local-net (dev)</option>
                         <option value="main">Main-net</option>
                         <option value="local">Test-net</option>
                     </select>
                 </div>
                 <div class="col-md">
                     <button type="button" class="btn btn-dark btn-sm" onclick="accounts()">Select network</button>
                 </div>
                </div>
             <!--
                <br>
                <h3>User's records</h3>
             -->
        </div>
        <div>
            <!--    TABLE GOES HERE     -->
        </div>
    </div>
    <br>

    <div class="p-3 mb-2 bg-secondary text-dark rounded">
        <div class="mb-3 container">
            <h3>Create your NFT certificates</h3>
            <br>
                <div class="row">
                    <div class="form-group col-md">
                        <label for="asset-name" class="form-label">Asset name</label>
                        <input type="text" class="form-control" name="asset-name" id="asset-name" placeholder="input asset name here . . ."></input>
                    </div>
                
                    <div class="form-group col-md">
                        <label for="asset-url" class="form-label">Asset url</label>
                        <input type="text" class="form-control" name="asset-url" id="asset-url" placeholder="input asset url here . . ."></input>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="form-group col-md">
                        <label for="unit-name" class="form-label">Unit name</label>
                        <input type="text" class="form-control" name="unit-name" id="unit-name" placeholder="input unit name here . . ."></input>
                    </div>
                
                    <div class="form-group col-md">
                        <label for="total-units" class="form-label">Total units</label>
                        <input type="number" class="form-control" name="total-units" id="total-units" placeholder="input total units here . . ."></input>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="form-group col-md">
                        <label for="decimals" class="form-label">Decimals</label>
                        <input type="number" class="form-control" name="decimals" id="decimals" placeholder="input decimals here . . ."></input>
                    </div>
                
                    <div class="form-group col-md">
                        <label for="note" class="form-label">Note</label>
                        <input type="text" class="form-control" name="note" id="note" placeholder="input your note here . . ."></input>
                    </div>
                </div>
                <br>

                <div class="form-group col-md">
                    <button class="btn btn-dark" onclick="create_nft()">Create NFT</button>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
