{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Make your transactions on the algorand blockchain network {% endblock %}</h1>
    <br>
    <div id="network-selection-form">
        <form action="/transactions/display_records">
            <label for="network">Choose network</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="network" id="network">
                <option value="local">Local-net (dev)</option>
                <option value="main">Main-net</option>
                <option value="local">Test-net</option>
            </select>
            <h3>User account records (only for local networks)</h3>
            <input class="btn btn-dark" type="submit" value="get account records">
        </form>

        <div>
            <table></table>
            <span class="badge badge-primary"><h6>Account balance: {{ balance }}</h6></span>
        </div>
    </div>
    <br>

    <div id="get-account-balance">
        <form class="mb-3" method="GET" action="{{ url_for('display_balance') }}">
            <h3>User account balances</h3>

            <div class="form-group">
                <label for="address" class="form-label">Input account address</label>
                <input type="text" class="form-control" name="address" placeholder="WF7P5H6IJM34MWAQYDNNKADTPHPB3AUZAEMEZHWCI6OT7C46XGRQCWJJGU"></input>
            </div>

            <div class="form-group">
                <label for="account-balance" class="form-label">Total account balance in mini-algos</label>
                <input type="text" class="form-control" placeholder="" value="{{balance}}" >
            </div>
            <br>
            <div class="form-group">
                <input class="btn btn-dark" type="submit" value="get account balance">
            </div>
        </form>
    </div>

{% endblock %}
